.drop-zone-horizontal {
    height: 20px;
    width: 100%;
}
.drop-zone-vertical {
    width: 20px;
    height: 100%;
}
.drop-zone {
    /* position: absolute;
    z-index: 1; */
    &.focus {
        background: #197aff;
    }
}
